.quote-item{
  margin: 0;
  padding-bottom: $s-size;
  transition: transform .2s; /* Animation */
}

.quote-item:hover{
  transform: scale(1.05);
}

.quote-container {
  // margin-left: 11rem; 
  padding-right: 40px;
  min-height: 200px;
}

.quoimg {
  top: 25%;
  position: absolute;
  margin-left: 5rem;
  // margin: 0 auto;
  //border: 1px solid blue;
  // margin: 5rem 10rem;
  // // padding: 0 $l-size;
  //10rem 0 0 10rem
  // float: right;
  // overflow: auto;
}

.quoimg-sharing{
  float: right;
}