* {
  //content-box is the default value
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  //display: flex;
}

.section-one{
  width: 60%
}

.section-two{
  width: 40%;
}

.vertical-text {
	//transform: rotate(270deg);
	//transform-origin: left top 0;
}
